<mat-card>
    <mat-card-header>
        <h1>User Registration</h1>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregistration()">
            <div>
            <mat-form-field class="example-full-width">
              <mat-label>User Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password">
            </mat-form-field>
        </div>
            <div>
                <button mat-raised-button color="primary">Register</button>
                <a routerLink="/login" mat-raised-button color="warn">Go to Login</a>
            </div>

          </form>
    </mat-card-content>
  </mat-card>



